.correct {
  height: 100vh;
  width: 100vw;
  background-color: #078b74;
  text-align: center;
  min-width: 230px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 100px;
}

.correct .header img {
  width: 40px;
}

.correct .center {
  border-radius: 50%;
  width: 250px;
  padding: 50px;
  margin: 0 auto;
  background-color: #06746b;
}

.correct .center h2 {
  margin: 0;
  font-size: 25px;
  display: flex;
  flex-direction: column;
}

.correct .center .fs-70 {
  font-size: 70px;
}

.correct .bttn {
  max-width: 300px;
  margin: 0 auto;
  color: #06746b;
}

.correct .center,
.correct a {
  z-index: 2;
}
