.login {
  text-align: center;
  height: 100vh;
}

.login .content {
  width: 100%;
}

.login img {
  width: 190px;
  margin: 0 auto 30px;
}

.login h1 {
  color: #145fd2;
}

.login .form input {
  background-color: #d0edff;
}

.login .form input::placeholder {
  color: #145fd2;
}

.login .form button {
  background-color: #13d089;
  color: #145fd2;
}

.login .form button a {
  font-weight: bold;
  color: #145fd2;
  text-decoration: none;
}

.login p {
  color: #145fd2;
  max-width: 260px;
  margin: auto;
}

.login a {
  color: #13d089;
}

@media only screen and (min-height: 636px) {
  .login .content h1 {
    font-size: 40px;
  }

  .login .content .form {
    font-size: 18px;
  }

  .login .content p,
  .login .content p a {
    font-size: 20px;
  }

  .login .form button {
    font-size: 20px;
  }
}
