.redeem {
  text-align: center;
  width: 85%;
  max-width: 340px;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.redeem .coins {
  width: 50px;
  margin-top: 40px;
}

.redeem h2 {
  font-weight: bold;
  font-size: 35px;
}

.redeem p,
h4 {
  font-size: 18px;
}

.redeem .box {
  background-color: #fdd329;
  border-radius: 30px;
  padding: 40px;
}

.redeem .box h4 {
  font-weight: bold;
}
