.trivia {
  height: 100vh;
  background-color: #0846b8;
  text-align: center;
  background-image: url("../images/trivia_bgrd.svg");
  background-position: center;
}

.trivia .content {
  position: absolute;
  width: 90%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.trivia .trivia-btn {
  background-color: #022179;
  text-transform: uppercase;
  width: 180px;
  display: block;
  margin: 0 auto;
}
